<div id="gameSetBox_{{tileType}}_{{row.index}}" class="gameplay-tile" ng-controller="GamePlay.Tile">
    <div title="{{tileType}}" class="label label-info">{{tileType | capitalize}} {{row.index + 1}}</div>
    <input type="hidden" class="game_setup_input" name="{{tileType}}{{row.index + 1}}" value="" />

    <a class="game-tile {{subject}}Sx_game" value="0" ng-class="{active: $scope.tileValue == 0}" ng-click="setTileValue(0)"><img src="/app/assets/images/lanciaSfide_{{subject}}{{dir.sx}}.png"/></a>
    <a class="game-tile {{subject}}Center_game" value="1" ng-class="{active: $scope.tileValue == 1}" ng-click="setTileValue(1)"><img src="/app/assets/images/lanciaSfide_{{subject}}.png"/></a>
    <a class="game-tile {{subject}}Dx_game" value="2" ng-class="{active: $scope.tileValue == 2}" ng-click="setTileValue(2)"><img src="/app/assets/images/lanciaSfide_{{subject}}{{dir.dx}}.png"/></a>
</div>