<table class="table table-condensed mbn">
    <tr ng-show="sfide.length == 0">
        <td>
            <p icon="flag">Nessuna sfida</p>
        </td>
    </tr>
    <tr ng-show="sfide.length > 0">
        <th></th>
        <th>Avversario</th>
        <th class="text-center">Lanciata</th>
        <th class="text-center">Risposta</th>
        <th>Risultato</th>
        <th class="text-center">Punti</th>
        <th class="text-center">Rewards</th>
        <th class="text-center">Stato</th>
    </tr>
    <tr ng-repeat="sfida in sfide" ng-controller="ListaSfide.Sfida" id_sfida="{{sfida.id_sfida}}" on-sfida-load>
        <td class="{{risultatoLabel}}"></td>
        <td>
            <username id-utente="id_avversario" with-picture="true" with-punteggio="true"></username>
        </td>
        <td class="text-center">
            <beautify-date ng-show="sfida.dta_sfida != false" date="{{sfida.dta_sfida}}" inline="true"></beautify-date>
        </td>
        <td class="text-center">
            <beautify-date ng-show="sfida.dta_conclusa != false" date="{{sfida.dta_conclusa}}" inline="true"></beautify-date>
        </td>
        <td>
            <div ng-show="sfida.dta_conclusa != false" class="result-screen" risultato="{{sfida.risultato}}">
                <div class="team-screen home-team score{{risultato[0]}} win"></div>
                <div class="team-screen away-team score{{risultato[1]}} win"></div>
            </div>
        </td>
        <td class="text-center">
            <span class="badge" ng-show="sfida.stato > 1">{{punti}}</span>
        </td>
        <td class="text-center">
            <span class="badge" ng-show="sfida.stato > 1">{{punti_rewards}}</span>
        </td>
        <td class="text-center">
            <button ng-show="hasActiveButton" class="btn btn-sm" icon="{{statoButtonIcon}}" ng-class="{'btn-warning': statoButton == 'rispondi', 'btn-info': statoButton == 'vedi_sfida'}" ng-click="doClickSfida(statoButton)">{{statoButton | varToTitle}}</button>
            <button ng-show="!hasActiveButton" class="btn btn-sm btn-disabled" disabled="disabled" icon="{{statoButtonIcon}}">{{statoButton | varToTitle}}</button>
        </td>
    </tr>
</table>