@media (max-width: @screen-xs-max) {

  html {

    body {

      /// Header
      #header {
        left: 0;
      }

      .badge-list {
        .badge-container {
          width: 33%;
          text-align: center;
          margin: 0 0 15px 0;
          height: auto;
          display: inline-block;
          float: none;

          img {
            width: 85%;
          }
        }
      }

      /// Area personale
      .navbar {
        .navbar-header {
          .navbar-brand {
            display: block;
          }
        }
      }
    }
  }

}