@media (max-width: @screen-xs-max) {

  html {

    body {

      #body {
        > .col {
          padding-left: 0;
          padding-right: 0;
        }
      }

      /// Header
      #header {
        left: 0;
      }


      /// Sidebar
      .sidebar {
        .user-panel {
          display: none;
        }
      }


      .badge-list {
        .badge-container {
          width: 33%;
          text-align: center;
          margin: 0 0 15px 0;
          height: auto;
          display: inline-block;
          float: none;

          img {
            width: 85%;
          }
        }
      }

      /// Area personale
      .sfide-legenda {
        display: none;
      }

      .navbar {
        .navbar-header {
          .navbar-brand {
            background: transparent;
            display: block;
            color: @color-rigorix-blue;
            font-size: 42px;
            line-height: 43px;

            small {
              display: inline-block;
              font-size: 19px;
            }

            .fa {
              vertical-align: middle;
              margin-right: 10px !important;
            }
          }
        }
      }

      .nav-pills {
        > li {
          width: 33.33%;
          margin: 0;
          text-align: center;

          > a {
            padding: 8px;
            .text-overflow();
          }
        }
      }

      .lista-sfide-container {
        padding: 0;
        margin-right: -6px;
        margin-left: -6px;

        .sfide-description {
          display: none;
        }

        .username-container {
          .profile-picture {
            display: none;
          }
          .punteggio-utente-container {
            display: none;
          }
        }

      }

      /// Footer
      .footer-link {
        background: darken(@color-white, 7);
        padding: 10px 0 4px 0;

        a {
          display: inline-block;
          margin-right: 0 !important;
          width: 49%;
          padding: 0 12px 6px 12px;
          font-size: 14px;
        }
      }
    }

    &.AreaPersonale {
      .sidebar {
        display: none;
      }
    }
  }

}