@media (max-width: @screen-xs-max) {

  html {

    body {

      .navbar {
        margin-bottom: 0;
      }

      .badge-list {
        .badge-container {
          width: 33%;
          text-align: center;
          margin: 0 0 15px 0;
          height: auto;
          display: inline-block;
          float: none;

          img {
            width: 85%;
          }
        }
      }

      .notifyjs-corner {
        top: 0;
        left: 0% !important;

        .notifyjs-wrapper {
          width: 99% !important;

          * {
            white-space: normal !important;
          }
        }
      }
    }
  }

}