<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand">Area personale</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
        <ul class="nav navbar-nav">
            <li ng-repeat="sec in sections" ng-class="{active: section == sec}">
                <a href="#/area-personale/{{sec}}" ng-click="onClickAreaPersonaleSection(sec)">{{sec | capitalize}}</a>
            </li>
        </ul>
    </div>
</nav>

<div ng-include="'/app/templates/area-personale/' + section + '.html'"></div>

