<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" icon="dashboard"><small>Area personale</small></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8" icon="bars">
            <span class="sr-only">Toggle navigation</span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
        <ul class="nav navbar-nav">
            <li ng-repeat="sec in sections" ng-class="{active: section == sec.name}">
                <a href="#/area-personale/{{sec.name}}" icon="{{sec.icon}}">{{sec.name | capitalize}}</a>
            </li>
        </ul>
    </div>
</nav>

<div ng-include="'/app/templates/area-personale/' + section + '.html'">Loading</div>

