<div ng-controller="AreaPersonale.Sfide">

    <div ng-include="'/app/templates/area-personale/pagetabs.html'"></div>

    <div class="row-fluid">
        <div class="col-sm-12 mtl">

            <div ng-show="sectionPage == 'sfide_da_giocare'">

                <div class="panel panel-default mtl">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Sfide da giocare</div>

                    <!-- Table -->
                    <div ng-include="'app/templates/lista-sfide.html'" ng-model="sfideDaGiocare" on-lista-sfide-load="sfideDaGiocare"></div>
                </div>

            </div>

            <div ng-show="sectionPage == 'in_attesa_di_risposta'">
                <p>Qui trovi la lista di tutte le sfide che hai già giocato.</p>

                <div class="panel panel-default mtl">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        Archivio sfide
                        <button class="btn btn-sm pull-right btn-default" ng-click="reload()" icon="refresh">Ricarica</button>
                    </div>

                    <!-- Table -->
                    <div ng-include="'app/templates/lista-sfide.html'" on-lista-sfide-load="sfideInAttesaDiRisposta"></div>
                </div>
            </div>

            <div ng-show="sectionPage == 'archivio'">
                <div class="panel panel-default mtl">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Archivio sfide</div>

                    <!-- Table -->
                    <div ng-include="'app/templates/lista-sfide.html'" on-lista-sfide-load="sfideArchivio"></div>
                </div>
            </div>

        </div>
    </div>
</div>