<div ng-controller="AreaPersonale.Sfide">

    <div ng-include="'/app/templates/area-personale/pagetabs.html'"></div>

    <div class="row-fluid">
        <div class="col-sm-12 mtl lista-sfide-container">

            <div ng-show="sectionPage == 'da_giocare'">

                <div ng-include="'/app/templates/area-personale/legenda-sfide.html'"></div>

                <div class="panel panel-default mtl">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <span class="label label-info mlm">{{sfideDaGiocare | length}}</span> da giocare
                        <button class="btn btn-sm pull-right btn-default" ng-click="reload()" icon="refresh">Ricarica</button>
                    </div>

                    <!-- Table -->
                    <lista-sfide sfide="sfideDaGiocare"></lista-sfide>
                </div>

            </div>

            <div ng-show="sectionPage == 'in_attesa'">
                <p class="sfide-description">Qui trovi la lista di tutte le sfide che hai lanciato e non sono ancora state risposte.</p>
                <div ng-include="'/app/templates/area-personale/legenda-sfide.html'"></div>

                <div class="panel panel-default mtl">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <span class="label label-info mlm">{{sfideInAttesaDiRisposta | length}}</span> in attesa
                        <button class="btn btn-sm pull-right btn-default" ng-click="reload()" icon="refresh">Ricarica</button>
                    </div>

                    <!-- Table -->
                    <lista-sfide sfide="sfideInAttesaDiRisposta" ng-show="status != 'loading'"></lista-sfide>
                    <loading ng-show="status == 'loading'" text="'Caricamento sfide in corso'" custom-icon="coffee"></loading>
                </div>
            </div>

            <div ng-show="sectionPage == 'archivio'">
                <div ng-include="'/app/templates/area-personale/legenda-sfide.html'"></div>

                <div class="panel panel-default mtl">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <span class="label label-info mlm" ng-model="sfideArchivio">{{sfideArchivio | length}}</span> sfide giocate
                        <button class="btn btn-sm pull-right btn-default" ng-click="reload()" icon="refresh">Ricarica</button>
                    </div>

                    <!-- Table -->
                    <lista-sfide sfide="sfideArchivio" ng-show="status != 'loading'"></lista-sfide>
                    <loading ng-show="status == 'loading'" text="'Caricamento sfide in corso'" custom-icon="coffee"></loading>

                    <div class="text-center" ng-show="sfideArchivioCount > sfideArchivioPerPage">
                        <pagination class="pagination-sm" direction-links="false" total-items="sfideArchivioCount" items-per-page="sfideArchivioPerPage" page="sfideArchivioCurrentPage" num-pages="smallnumPages"></pagination>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>