  @ball-x: 555px;
  @ball-y: 200px;
  @ball-offset-x: -555px;
  @ball-offset-y: -200px;
  @ball-width: 50px;
  @ball-height: 50px;
  @ball-total-width: 645px;
  @ball-total-height: 545px;
  @ball-image: '/app/assets/images/spritesmith.png';
  @ball: 555px 200px -555px -200px 50px 50px 645px 545px '/app/assets/images/spritesmith.png';
  @default-user-picture-x: 450px;
  @default-user-picture-y: 305px;
  @default-user-picture-offset-x: -450px;
  @default-user-picture-offset-y: -305px;
  @default-user-picture-width: 50px;
  @default-user-picture-height: 50px;
  @default-user-picture-total-width: 645px;
  @default-user-picture-total-height: 545px;
  @default-user-picture-image: '/app/assets/images/spritesmith.png';
  @default-user-picture: 450px 305px -450px -305px 50px 50px 645px 545px '/app/assets/images/spritesmith.png';
  @ico_messaggi-x: 610px;
  @ico_messaggi-y: 200px;
  @ico_messaggi-offset-x: -610px;
  @ico_messaggi-offset-y: -200px;
  @ico_messaggi-width: 20px;
  @ico_messaggi-height: 24px;
  @ico_messaggi-total-width: 645px;
  @ico_messaggi-total-height: 545px;
  @ico_messaggi-image: '/app/assets/images/spritesmith.png';
  @ico_messaggi: 610px 200px -610px -200px 20px 24px 645px 545px '/app/assets/images/spritesmith.png';
  @ico_pallone-x: 200px;
  @ico_pallone-y: 175px;
  @ico_pallone-offset-x: -200px;
  @ico_pallone-offset-y: -175px;
  @ico_pallone-width: 21px;
  @ico_pallone-height: 20px;
  @ico_pallone-total-width: 645px;
  @ico_pallone-total-height: 545px;
  @ico_pallone-image: '/app/assets/images/spritesmith.png';
  @ico_pallone: 200px 175px -200px -175px 21px 20px 645px 545px '/app/assets/images/spritesmith.png';
  @icon_vs-x: 226px;
  @icon_vs-y: 175px;
  @icon_vs-offset-x: -226px;
  @icon_vs-offset-y: -175px;
  @icon_vs-width: 40px;
  @icon_vs-height: 18px;
  @icon_vs-total-width: 645px;
  @icon_vs-total-height: 545px;
  @icon_vs-image: '/app/assets/images/spritesmith.png';
  @icon_vs: 226px 175px -226px -175px 40px 18px 645px 545px '/app/assets/images/spritesmith.png';
  @maglia_thumb_1-x: 600px;
  @maglia_thumb_1-y: 411px;
  @maglia_thumb_1-offset-x: -600px;
  @maglia_thumb_1-offset-y: -411px;
  @maglia_thumb_1-width: 45px;
  @maglia_thumb_1-height: 24px;
  @maglia_thumb_1-total-width: 645px;
  @maglia_thumb_1-total-height: 545px;
  @maglia_thumb_1-image: '/app/assets/images/spritesmith.png';
  @maglia_thumb_1: 600px 411px -600px -411px 45px 24px 645px 545px '/app/assets/images/spritesmith.png';
  @maglia_thumb_2-x: 450px;
  @maglia_thumb_2-y: 411px;
  @maglia_thumb_2-offset-x: -450px;
  @maglia_thumb_2-offset-y: -411px;
  @maglia_thumb_2-width: 45px;
  @maglia_thumb_2-height: 24px;
  @maglia_thumb_2-total-width: 645px;
  @maglia_thumb_2-total-height: 545px;
  @maglia_thumb_2-image: '/app/assets/images/spritesmith.png';
  @maglia_thumb_2: 450px 411px -450px -411px 45px 24px 645px 545px '/app/assets/images/spritesmith.png';
  @maglia_thumb_3-x: 500px;
  @maglia_thumb_3-y: 411px;
  @maglia_thumb_3-offset-x: -500px;
  @maglia_thumb_3-offset-y: -411px;
  @maglia_thumb_3-width: 45px;
  @maglia_thumb_3-height: 24px;
  @maglia_thumb_3-total-width: 645px;
  @maglia_thumb_3-total-height: 545px;
  @maglia_thumb_3-image: '/app/assets/images/spritesmith.png';
  @maglia_thumb_3: 500px 411px -500px -411px 45px 24px 645px 545px '/app/assets/images/spritesmith.png';
  @maglia_thumb_4-x: 550px;
  @maglia_thumb_4-y: 411px;
  @maglia_thumb_4-offset-x: -550px;
  @maglia_thumb_4-offset-y: -411px;
  @maglia_thumb_4-width: 45px;
  @maglia_thumb_4-height: 24px;
  @maglia_thumb_4-total-width: 645px;
  @maglia_thumb_4-total-height: 545px;
  @maglia_thumb_4-image: '/app/assets/images/spritesmith.png';
  @maglia_thumb_4: 550px 411px -550px -411px 45px 24px 645px 545px '/app/assets/images/spritesmith.png';
  @maschera_maglia_1-x: 450px;
  @maschera_maglia_1-y: 375px;
  @maschera_maglia_1-offset-x: -450px;
  @maschera_maglia_1-offset-y: -375px;
  @maschera_maglia_1-width: 50px;
  @maschera_maglia_1-height: 31px;
  @maschera_maglia_1-total-width: 645px;
  @maschera_maglia_1-total-height: 545px;
  @maschera_maglia_1-image: '/app/assets/images/spritesmith.png';
  @maschera_maglia_1: 450px 375px -450px -375px 50px 31px 645px 545px '/app/assets/images/spritesmith.png';
  @maschera_maglia_2-x: 555px;
  @maschera_maglia_2-y: 255px;
  @maschera_maglia_2-offset-x: -555px;
  @maschera_maglia_2-offset-y: -255px;
  @maschera_maglia_2-width: 50px;
  @maschera_maglia_2-height: 31px;
  @maschera_maglia_2-total-width: 645px;
  @maschera_maglia_2-total-height: 545px;
  @maschera_maglia_2-image: '/app/assets/images/spritesmith.png';
  @maschera_maglia_2: 555px 255px -555px -255px 50px 31px 645px 545px '/app/assets/images/spritesmith.png';
  @maschera_maglia_3-x: 505px;
  @maschera_maglia_3-y: 375px;
  @maschera_maglia_3-offset-x: -505px;
  @maschera_maglia_3-offset-y: -375px;
  @maschera_maglia_3-width: 50px;
  @maschera_maglia_3-height: 31px;
  @maschera_maglia_3-total-width: 645px;
  @maschera_maglia_3-total-height: 545px;
  @maschera_maglia_3-image: '/app/assets/images/spritesmith.png';
  @maschera_maglia_3: 505px 375px -505px -375px 50px 31px 645px 545px '/app/assets/images/spritesmith.png';
  @maschera_maglia_4-x: 560px;
  @maschera_maglia_4-y: 375px;
  @maschera_maglia_4-offset-x: -560px;
  @maschera_maglia_4-offset-y: -375px;
  @maschera_maglia_4-width: 50px;
  @maschera_maglia_4-height: 31px;
  @maschera_maglia_4-total-width: 645px;
  @maschera_maglia_4-total-height: 545px;
  @maschera_maglia_4-image: '/app/assets/images/spritesmith.png';
  @maschera_maglia_4: 560px 375px -560px -375px 50px 31px 645px 545px '/app/assets/images/spritesmith.png';
  @numeri_tabellone-x: 505px;
  @numeri_tabellone-y: 305px;
  @numeri_tabellone-offset-x: -505px;
  @numeri_tabellone-offset-y: -305px;
  @numeri_tabellone-width: 105px;
  @numeri_tabellone-height: 38px;
  @numeri_tabellone-total-width: 645px;
  @numeri_tabellone-total-height: 545px;
  @numeri_tabellone-image: '/app/assets/images/spritesmith.png';
  @numeri_tabellone: 505px 305px -505px -305px 105px 38px 645px 545px '/app/assets/images/spritesmith.png';
  @pacman-loader-x: 610px;
  @pacman-loader-y: 255px;
  @pacman-loader-offset-x: -610px;
  @pacman-loader-offset-y: -255px;
  @pacman-loader-width: 24px;
  @pacman-loader-height: 24px;
  @pacman-loader-total-width: 645px;
  @pacman-loader-total-height: 545px;
  @pacman-loader-image: '/app/assets/images/spritesmith.png';
  @pacman-loader: 610px 255px -610px -255px 24px 24px 645px 545px '/app/assets/images/spritesmith.png';
  @pallone_small-x: 271px;
  @pallone_small-y: 175px;
  @pallone_small-offset-x: -271px;
  @pallone_small-offset-y: -175px;
  @pallone_small-width: 17px;
  @pallone_small-height: 18px;
  @pallone_small-total-width: 645px;
  @pallone_small-total-height: 545px;
  @pallone_small-image: '/app/assets/images/spritesmith.png';
  @pallone_small: 271px 175px -271px -175px 17px 18px 645px 545px '/app/assets/images/spritesmith.png';
  @result_draw-x: 0px;
  @result_draw-y: 375px;
  @result_draw-offset-x: 0px;
  @result_draw-offset-y: -375px;
  @result_draw-width: 445px;
  @result_draw-height: 170px;
  @result_draw-total-width: 645px;
  @result_draw-total-height: 545px;
  @result_draw-image: '/app/assets/images/spritesmith.png';
  @result_draw: 0px 375px 0px -375px 445px 170px 645px 545px '/app/assets/images/spritesmith.png';
  @result_lose-x: 0px;
  @result_lose-y: 200px;
  @result_lose-offset-x: 0px;
  @result_lose-offset-y: -200px;
  @result_lose-width: 445px;
  @result_lose-height: 170px;
  @result_lose-total-width: 645px;
  @result_lose-total-height: 545px;
  @result_lose-image: '/app/assets/images/spritesmith.png';
  @result_lose: 0px 200px 0px -200px 445px 170px 645px 545px '/app/assets/images/spritesmith.png';
  @result_win-x: 200px;
  @result_win-y: 0px;
  @result_win-offset-x: -200px;
  @result_win-offset-y: 0px;
  @result_win-width: 445px;
  @result_win-height: 170px;
  @result_win-total-width: 645px;
  @result_win-total-height: 545px;
  @result_win-image: '/app/assets/images/spritesmith.png';
  @result_win: 200px 0px -200px 0px 445px 170px 645px 545px '/app/assets/images/spritesmith.png';
  @saturation-x: 450px;
  @saturation-y: 200px;
  @saturation-offset-x: -450px;
  @saturation-offset-y: -200px;
  @saturation-width: 100px;
  @saturation-height: 100px;
  @saturation-total-width: 645px;
  @saturation-total-height: 545px;
  @saturation-image: '/app/assets/images/spritesmith.png';
  @saturation: 450px 200px -450px -200px 100px 100px 645px 545px '/app/assets/images/spritesmith.png';
  @wheel-x: 0px;
  @wheel-y: 0px;
  @wheel-offset-x: 0px;
  @wheel-offset-y: 0px;
  @wheel-width: 195px;
  @wheel-height: 195px;
  @wheel-total-width: 645px;
  @wheel-total-height: 545px;
  @wheel-image: '/app/assets/images/spritesmith.png';
  @wheel: 0px 0px 0px 0px 195px 195px 645px 545px '/app/assets/images/spritesmith.png';

  .sprite-width(@sprite) {
    width: ~`"@{sprite}".split(', ')[4]`;
  }

  .sprite-height(@sprite) {
    height: ~`"@{sprite}".split(', ')[5]`;
  }

  .sprite-position(@sprite) {
    @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
    @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
    background-position: @sprite-offset-x  @sprite-offset-y;
  }

  .sprite-image(@sprite) {
    @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
    background-image: url(@sprite-image);
  }

  .sprite(@sprite) {
    .sprite-image(@sprite);
    .sprite-position(@sprite);
    .sprite-width(@sprite);
    .sprite-height(@sprite);
  }
