  @ball-x: 533px;
  @ball-y: 350px;
  @ball-offset-x: -533px;
  @ball-offset-y: -350px;
  @ball-width: 50px;
  @ball-height: 50px;
  @ball-total-width: 978px;
  @ball-total-height: 585px;
  @ball-image: '/app/assets/images/spritesmith.png';
  @ball: 533px 350px -533px -350px 50px 50px 978px 585px '/app/assets/images/spritesmith.png';
  @bg-website-x: 10px;
  @bg-website-y: 0px;
  @bg-website-offset-x: -10px;
  @bg-website-offset-y: 0px;
  @bg-website-width: 318px;
  @bg-website-height: 318px;
  @bg-website-total-width: 978px;
  @bg-website-total-height: 585px;
  @bg-website-image: '/app/assets/images/spritesmith.png';
  @bg-website: 10px 0px -10px 0px 318px 318px 978px 585px '/app/assets/images/spritesmith.png';
  @bg-x: 0px;
  @bg-y: 0px;
  @bg-offset-x: 0px;
  @bg-offset-y: 0px;
  @bg-width: 5px;
  @bg-height: 410px;
  @bg-total-width: 978px;
  @bg-total-height: 585px;
  @bg-image: '/app/assets/images/spritesmith.png';
  @bg: 0px 0px 0px 0px 5px 410px 978px 585px '/app/assets/images/spritesmith.png';
  @default-user-picture-x: 588px;
  @default-user-picture-y: 350px;
  @default-user-picture-offset-x: -588px;
  @default-user-picture-offset-y: -350px;
  @default-user-picture-width: 50px;
  @default-user-picture-height: 50px;
  @default-user-picture-total-width: 978px;
  @default-user-picture-total-height: 585px;
  @default-user-picture-image: '/app/assets/images/spritesmith.png';
  @default-user-picture: 588px 350px -588px -350px 50px 50px 978px 585px '/app/assets/images/spritesmith.png';
  @ico_messaggi-x: 493px;
  @ico_messaggi-y: 236px;
  @ico_messaggi-offset-x: -493px;
  @ico_messaggi-offset-y: -236px;
  @ico_messaggi-width: 20px;
  @ico_messaggi-height: 24px;
  @ico_messaggi-total-width: 978px;
  @ico_messaggi-total-height: 585px;
  @ico_messaggi-image: '/app/assets/images/spritesmith.png';
  @ico_messaggi: 493px 236px -493px -236px 20px 24px 978px 585px '/app/assets/images/spritesmith.png';
  @ico_pallone-x: 498px;
  @ico_pallone-y: 305px;
  @ico_pallone-offset-x: -498px;
  @ico_pallone-offset-y: -305px;
  @ico_pallone-width: 21px;
  @ico_pallone-height: 20px;
  @ico_pallone-total-width: 978px;
  @ico_pallone-total-height: 585px;
  @ico_pallone-image: '/app/assets/images/spritesmith.png';
  @ico_pallone: 498px 305px -498px -305px 21px 20px 978px 585px '/app/assets/images/spritesmith.png';
  @icon_vs-x: 333px;
  @icon_vs-y: 377px;
  @icon_vs-offset-x: -333px;
  @icon_vs-offset-y: -377px;
  @icon_vs-width: 40px;
  @icon_vs-height: 18px;
  @icon_vs-total-width: 978px;
  @icon_vs-total-height: 585px;
  @icon_vs-image: '/app/assets/images/spritesmith.png';
  @icon_vs: 333px 377px -333px -377px 40px 18px 978px 585px '/app/assets/images/spritesmith.png';
  @lanciaSfide_campo-x: 450px;
  @lanciaSfide_campo-y: 415px;
  @lanciaSfide_campo-offset-x: -450px;
  @lanciaSfide_campo-offset-y: -415px;
  @lanciaSfide_campo-width: 259px;
  @lanciaSfide_campo-height: 113px;
  @lanciaSfide_campo-total-width: 978px;
  @lanciaSfide_campo-total-height: 585px;
  @lanciaSfide_campo-image: '/app/assets/images/spritesmith.png';
  @lanciaSfide_campo: 450px 415px -450px -415px 259px 113px 978px 585px '/app/assets/images/spritesmith.png';
  @lanciaSfide_pallone-x: 488px;
  @lanciaSfide_pallone-y: 272px;
  @lanciaSfide_pallone-offset-x: -488px;
  @lanciaSfide_pallone-offset-y: -272px;
  @lanciaSfide_pallone-width: 21px;
  @lanciaSfide_pallone-height: 20px;
  @lanciaSfide_pallone-total-width: 978px;
  @lanciaSfide_pallone-total-height: 585px;
  @lanciaSfide_pallone-image: '/app/assets/images/spritesmith.png';
  @lanciaSfide_pallone: 488px 272px -488px -272px 21px 20px 978px 585px '/app/assets/images/spritesmith.png';
  @lanciaSfide_portiere-x: 675px;
  @lanciaSfide_portiere-y: 350px;
  @lanciaSfide_portiere-offset-x: -675px;
  @lanciaSfide_portiere-offset-y: -350px;
  @lanciaSfide_portiere-width: 27px;
  @lanciaSfide_portiere-height: 47px;
  @lanciaSfide_portiere-total-width: 978px;
  @lanciaSfide_portiere-total-height: 585px;
  @lanciaSfide_portiere-image: '/app/assets/images/spritesmith.png';
  @lanciaSfide_portiere: 675px 350px -675px -350px 27px 47px 978px 585px '/app/assets/images/spritesmith.png';
  @lanciaSfide_portiereDx-x: 707px;
  @lanciaSfide_portiereDx-y: 350px;
  @lanciaSfide_portiereDx-offset-x: -707px;
  @lanciaSfide_portiereDx-offset-y: -350px;
  @lanciaSfide_portiereDx-width: 50px;
  @lanciaSfide_portiereDx-height: 39px;
  @lanciaSfide_portiereDx-total-width: 978px;
  @lanciaSfide_portiereDx-total-height: 585px;
  @lanciaSfide_portiereDx-image: '/app/assets/images/spritesmith.png';
  @lanciaSfide_portiereDx: 707px 350px -707px -350px 50px 39px 978px 585px '/app/assets/images/spritesmith.png';
  @lanciaSfide_portiereDx_on-x: 872px;
  @lanciaSfide_portiereDx_on-y: 350px;
  @lanciaSfide_portiereDx_on-offset-x: -872px;
  @lanciaSfide_portiereDx_on-offset-y: -350px;
  @lanciaSfide_portiereDx_on-width: 50px;
  @lanciaSfide_portiereDx_on-height: 39px;
  @lanciaSfide_portiereDx_on-total-width: 978px;
  @lanciaSfide_portiereDx_on-total-height: 585px;
  @lanciaSfide_portiereDx_on-image: '/app/assets/images/spritesmith.png';
  @lanciaSfide_portiereDx_on: 872px 350px -872px -350px 50px 39px 978px 585px '/app/assets/images/spritesmith.png';
  @lanciaSfide_portiereSx-x: 762px;
  @lanciaSfide_portiereSx-y: 350px;
  @lanciaSfide_portiereSx-offset-x: -762px;
  @lanciaSfide_portiereSx-offset-y: -350px;
  @lanciaSfide_portiereSx-width: 50px;
  @lanciaSfide_portiereSx-height: 39px;
  @lanciaSfide_portiereSx-total-width: 978px;
  @lanciaSfide_portiereSx-total-height: 585px;
  @lanciaSfide_portiereSx-image: '/app/assets/images/spritesmith.png';
  @lanciaSfide_portiereSx: 762px 350px -762px -350px 50px 39px 978px 585px '/app/assets/images/spritesmith.png';
  @lanciaSfide_portiereSx_on-x: 817px;
  @lanciaSfide_portiereSx_on-y: 350px;
  @lanciaSfide_portiereSx_on-offset-x: -817px;
  @lanciaSfide_portiereSx_on-offset-y: -350px;
  @lanciaSfide_portiereSx_on-width: 50px;
  @lanciaSfide_portiereSx_on-height: 39px;
  @lanciaSfide_portiereSx_on-total-width: 978px;
  @lanciaSfide_portiereSx_on-total-height: 585px;
  @lanciaSfide_portiereSx_on-image: '/app/assets/images/spritesmith.png';
  @lanciaSfide_portiereSx_on: 817px 350px -817px -350px 50px 39px 978px 585px '/app/assets/images/spritesmith.png';
  @lanciaSfide_portiere_on-x: 643px;
  @lanciaSfide_portiere_on-y: 350px;
  @lanciaSfide_portiere_on-offset-x: -643px;
  @lanciaSfide_portiere_on-offset-y: -350px;
  @lanciaSfide_portiere_on-width: 27px;
  @lanciaSfide_portiere_on-height: 47px;
  @lanciaSfide_portiere_on-total-width: 978px;
  @lanciaSfide_portiere_on-total-height: 585px;
  @lanciaSfide_portiere_on-image: '/app/assets/images/spritesmith.png';
  @lanciaSfide_portiere_on: 643px 350px -643px -350px 27px 47px 978px 585px '/app/assets/images/spritesmith.png';
  @maglia_thumb_1-x: 433px;
  @maglia_thumb_1-y: 348px;
  @maglia_thumb_1-offset-x: -433px;
  @maglia_thumb_1-offset-y: -348px;
  @maglia_thumb_1-width: 45px;
  @maglia_thumb_1-height: 24px;
  @maglia_thumb_1-total-width: 978px;
  @maglia_thumb_1-total-height: 585px;
  @maglia_thumb_1-image: '/app/assets/images/spritesmith.png';
  @maglia_thumb_1: 433px 348px -433px -348px 45px 24px 978px 585px '/app/assets/images/spritesmith.png';
  @maglia_thumb_2-x: 383px;
  @maglia_thumb_2-y: 348px;
  @maglia_thumb_2-offset-x: -383px;
  @maglia_thumb_2-offset-y: -348px;
  @maglia_thumb_2-width: 45px;
  @maglia_thumb_2-height: 24px;
  @maglia_thumb_2-total-width: 978px;
  @maglia_thumb_2-total-height: 585px;
  @maglia_thumb_2-image: '/app/assets/images/spritesmith.png';
  @maglia_thumb_2: 383px 348px -383px -348px 45px 24px 978px 585px '/app/assets/images/spritesmith.png';
  @maglia_thumb_3-x: 333px;
  @maglia_thumb_3-y: 348px;
  @maglia_thumb_3-offset-x: -333px;
  @maglia_thumb_3-offset-y: -348px;
  @maglia_thumb_3-width: 45px;
  @maglia_thumb_3-height: 24px;
  @maglia_thumb_3-total-width: 978px;
  @maglia_thumb_3-total-height: 585px;
  @maglia_thumb_3-image: '/app/assets/images/spritesmith.png';
  @maglia_thumb_3: 333px 348px -333px -348px 45px 24px 978px 585px '/app/assets/images/spritesmith.png';
  @maglia_thumb_4-x: 438px;
  @maglia_thumb_4-y: 272px;
  @maglia_thumb_4-offset-x: -438px;
  @maglia_thumb_4-offset-y: -272px;
  @maglia_thumb_4-width: 45px;
  @maglia_thumb_4-height: 24px;
  @maglia_thumb_4-total-width: 978px;
  @maglia_thumb_4-total-height: 585px;
  @maglia_thumb_4-image: '/app/assets/images/spritesmith.png';
  @maglia_thumb_4: 438px 272px -438px -272px 45px 24px 978px 585px '/app/assets/images/spritesmith.png';
  @maschera_maglia_1-x: 438px;
  @maschera_maglia_1-y: 236px;
  @maschera_maglia_1-offset-x: -438px;
  @maschera_maglia_1-offset-y: -236px;
  @maschera_maglia_1-width: 50px;
  @maschera_maglia_1-height: 31px;
  @maschera_maglia_1-total-width: 978px;
  @maschera_maglia_1-total-height: 585px;
  @maschera_maglia_1-image: '/app/assets/images/spritesmith.png';
  @maschera_maglia_1: 438px 236px -438px -236px 50px 31px 978px 585px '/app/assets/images/spritesmith.png';
  @maschera_maglia_2-x: 443px;
  @maschera_maglia_2-y: 305px;
  @maschera_maglia_2-offset-x: -443px;
  @maschera_maglia_2-offset-y: -305px;
  @maschera_maglia_2-width: 50px;
  @maschera_maglia_2-height: 31px;
  @maschera_maglia_2-total-width: 978px;
  @maschera_maglia_2-total-height: 585px;
  @maschera_maglia_2-image: '/app/assets/images/spritesmith.png';
  @maschera_maglia_2: 443px 305px -443px -305px 50px 31px 978px 585px '/app/assets/images/spritesmith.png';
  @maschera_maglia_3-x: 438px;
  @maschera_maglia_3-y: 200px;
  @maschera_maglia_3-offset-x: -438px;
  @maschera_maglia_3-offset-y: -200px;
  @maschera_maglia_3-width: 50px;
  @maschera_maglia_3-height: 31px;
  @maschera_maglia_3-total-width: 978px;
  @maschera_maglia_3-total-height: 585px;
  @maschera_maglia_3-image: '/app/assets/images/spritesmith.png';
  @maschera_maglia_3: 438px 200px -438px -200px 50px 31px 978px 585px '/app/assets/images/spritesmith.png';
  @maschera_maglia_4-x: 927px;
  @maschera_maglia_4-y: 350px;
  @maschera_maglia_4-offset-x: -927px;
  @maschera_maglia_4-offset-y: -350px;
  @maschera_maglia_4-width: 50px;
  @maschera_maglia_4-height: 31px;
  @maschera_maglia_4-total-width: 978px;
  @maschera_maglia_4-total-height: 585px;
  @maschera_maglia_4-image: '/app/assets/images/spritesmith.png';
  @maschera_maglia_4: 927px 350px -927px -350px 50px 31px 978px 585px '/app/assets/images/spritesmith.png';
  @numeri_tabellone-x: 333px;
  @numeri_tabellone-y: 305px;
  @numeri_tabellone-offset-x: -333px;
  @numeri_tabellone-offset-y: -305px;
  @numeri_tabellone-width: 105px;
  @numeri_tabellone-height: 38px;
  @numeri_tabellone-total-width: 978px;
  @numeri_tabellone-total-height: 585px;
  @numeri_tabellone-image: '/app/assets/images/spritesmith.png';
  @numeri_tabellone: 333px 305px -333px -305px 105px 38px 978px 585px '/app/assets/images/spritesmith.png';
  @pacman-loader-x: 493px;
  @pacman-loader-y: 200px;
  @pacman-loader-offset-x: -493px;
  @pacman-loader-offset-y: -200px;
  @pacman-loader-width: 24px;
  @pacman-loader-height: 24px;
  @pacman-loader-total-width: 978px;
  @pacman-loader-total-height: 585px;
  @pacman-loader-image: '/app/assets/images/spritesmith.png';
  @pacman-loader: 493px 200px -493px -200px 24px 24px 978px 585px '/app/assets/images/spritesmith.png';
  @pallone_small-x: 483px;
  @pallone_small-y: 348px;
  @pallone_small-offset-x: -483px;
  @pallone_small-offset-y: -348px;
  @pallone_small-width: 17px;
  @pallone_small-height: 18px;
  @pallone_small-total-width: 978px;
  @pallone_small-total-height: 585px;
  @pallone_small-image: '/app/assets/images/spritesmith.png';
  @pallone_small: 483px 348px -483px -348px 17px 18px 978px 585px '/app/assets/images/spritesmith.png';
  @result_draw-x: 0px;
  @result_draw-y: 415px;
  @result_draw-offset-x: 0px;
  @result_draw-offset-y: -415px;
  @result_draw-width: 445px;
  @result_draw-height: 170px;
  @result_draw-total-width: 978px;
  @result_draw-total-height: 585px;
  @result_draw-image: '/app/assets/images/spritesmith.png';
  @result_draw: 0px 415px 0px -415px 445px 170px 978px 585px '/app/assets/images/spritesmith.png';
  @result_lose-x: 533px;
  @result_lose-y: 175px;
  @result_lose-offset-x: -533px;
  @result_lose-offset-y: -175px;
  @result_lose-width: 445px;
  @result_lose-height: 170px;
  @result_lose-total-width: 978px;
  @result_lose-total-height: 585px;
  @result_lose-image: '/app/assets/images/spritesmith.png';
  @result_lose: 533px 175px -533px -175px 445px 170px 978px 585px '/app/assets/images/spritesmith.png';
  @result_win-x: 533px;
  @result_win-y: 0px;
  @result_win-offset-x: -533px;
  @result_win-offset-y: 0px;
  @result_win-width: 445px;
  @result_win-height: 170px;
  @result_win-total-width: 978px;
  @result_win-total-height: 585px;
  @result_win-image: '/app/assets/images/spritesmith.png';
  @result_win: 533px 0px -533px 0px 445px 170px 978px 585px '/app/assets/images/spritesmith.png';
  @saturation-x: 333px;
  @saturation-y: 200px;
  @saturation-offset-x: -333px;
  @saturation-offset-y: -200px;
  @saturation-width: 100px;
  @saturation-height: 100px;
  @saturation-total-width: 978px;
  @saturation-total-height: 585px;
  @saturation-image: '/app/assets/images/spritesmith.png';
  @saturation: 333px 200px -333px -200px 100px 100px 978px 585px '/app/assets/images/spritesmith.png';
  @wheel-x: 333px;
  @wheel-y: 0px;
  @wheel-offset-x: -333px;
  @wheel-offset-y: 0px;
  @wheel-width: 195px;
  @wheel-height: 195px;
  @wheel-total-width: 978px;
  @wheel-total-height: 585px;
  @wheel-image: '/app/assets/images/spritesmith.png';
  @wheel: 333px 0px -333px 0px 195px 195px 978px 585px '/app/assets/images/spritesmith.png';

  .sprite-width(@sprite) {
    width: ~`"@{sprite}".split(', ')[4]`;
  }

  .sprite-height(@sprite) {
    height: ~`"@{sprite}".split(', ')[5]`;
  }

  .sprite-position(@sprite) {
    @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
    @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
    background-position: @sprite-offset-x  @sprite-offset-y;
  }

  .sprite-image(@sprite) {
    @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
    background-image: url(@sprite-image);
  }

  .sprite(@sprite) {
    .sprite-image(@sprite);
    .sprite-position(@sprite);
    .sprite-width(@sprite);
    .sprite-height(@sprite);
  }
