<div class="container-fluid">
    <div class="row">
        <div class="col col-md-12">

            <div class="page-header clearfix">
                <h1 class="mtn pull-left">{{tableName | capitalize}}</h1>
                <div class="pull-right">
                    <button class="btn btn-success" ng-click="doAdd()">Aggiungi</button>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
            <p ng-show="!schema" class="alert alert-danger">
                C'&egrave; un errore di configurazione, manca lo schema per questa tabella <br/>
                Contattare l'amministratore!
            </p>
            <p ng-show="schema == loading">
                Caricamento schema tabella in corso ...
            </p>
            <table class="table table-condensed table-bordered" ng-controller="Table" ng-show="schema">
                <thead>
                    <tr>
                        <th></th>
                        <th ng-repeat="th in table.header">
                            <div ng-include="'templates/admin-table-th.html'" ng-controller="TableTh"></div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in table.content" ng-controller="TableRow">
                        <td class="controllers">
                            <button class="btn btn-xs btn-primary" ng-click="doEdit()">EDIT</button>
                            <button class="btn btn-xs btn-danger" ng-click="doDelete()">DEL</button>
                        </td>
                        <td ng-repeat="th in table.header" class="{{th}}">
                            <div ng-include="'templates/admin-table-cell.html'" ng-controller="TableCell" ng-class="{'truncate': def.truncate, 'center': def.align == 'center'}"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
