<div class="container-fluid">
    <div class="row">
        <div class="col col-md-12">

            <div class="page-header">
                <h1 class="mtn">{{tableName | capitalize}} <small ng-show="index">ID: {{index}}</small></h1>
                <a href="#" ng-click="backToList($event)">Torna alla lista</a>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
            <form class="form-horizontal" role="form">
                <div class="form-group" ng-repeat="(field,value) in data">
                    <label for="{{field}}" class="col-sm-4 control-label">{{field | capitalize}}</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="data[field]" id="{{field}}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button ng-show="action == 'edit'" class="btn btn-primary" ng-click="doUpdate()">SALVA</button>
                        <button ng-show="action == 'create'" class="btn btn-primary" ng-click="doUpdate()">INSERISCI</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
