<?xml version="1.0" encoding="UTF-8"?>
<config>
	<admin>
		<title>Schei casetta</title>
		<subtitle>Developed by Paolo Moretti</subtitle>
		<logo>logoMadcapCollective_200.jpg</logo>
		<version>4.5</version>
		<adminpath>/ff5.2/</adminpath>
		<admininc></admininc>
		<adminloadingpath>/maledetto.it/i/loaded/</adminloadingpath>
		<adminimagepath>/ff5.2/i/</adminimagepath>
		<adminmail>littlebrown@gmail.com</adminmail>
		<adminpwd>dbdb8700cfd8ad1e3c345ae6759cf927</adminpwd>
		<adminlanguage></adminlanguage>
		<adminmenu>
			<menuheader name="Sezioni Database" type="*DATABASE*" defcon="0"/>
			<menuheader name="Configurazione" type="*MENU*" dir="conf" defcon="2">
				<content name="Admin Configurator" page="adm_configurator.php" target="content"/>
				<content name="Database Configurator" page="configurator.php" target="content"/>
				<content name="Console" page="JAVASCRIPT">window.open('Console.php', 'newconsole', 'width=500,height=550')</content>
			</menuheader>
			<menuheader name="Contatti" type="*MAIL*" defcon="0">littlebrown@gmail.com</menuheader>
		</adminmenu>
		<multifieldseparator>***</multifieldseparator>
		<stringtruncate>150</stringtruncate>
	</admin>
	<backup>Updating Datas per page for table ps_movimenti</backup>
	<ui>
		<imgpreviewsize>40</imgpreviewsize>
		<viewports>
			<header up="70" down="*">			</header>
			<menu sx="221" dx="*" width="249">			</menu>
		</viewports>
	</ui>
	<database>
		<localhost>
			<host>localhost</host>
			<name>maledetto7484</name>
			<user>root</user>
			<pwd/>
		</localhost>
		<wwwmaledettoit>
			<host>sql.maledetto.it</host>
			<name>maledetto7484</name>
			<user>maledetto7484</user>
			<pwd>mal62425</pwd>
		</wwwmaledettoit>
	</database>
	<users/>
	<tables>
		<table name="ps_movimenti" title="Movimenti" visible="true" dataperpage="10" orderfield="data" orderdir="DESC">
			<fields>
				<field name="id" visible="false" title="id" adminfield="" multiple="false" type="db" orderby="" ordertype="">
					<description/>
					<default/>
				</field>
				<field name="descrizione" visible="true" title="Descrizione" adminfield="" multiple="false" type="db" orderby="" ordertype="">
					<description/>
					<default/>
				</field>
				<field name="tipoMovimento" visible="true" title="Tipo movimento" adminfield="" multiple="false" type="db" orderby="" ordertype="">
					<description/>
					<cross table="ps_tipomovimenti" ref="id" title="tipo">					</cross>
					<default>12</default>
				</field>
				<field name="fattura" visible="false" title="Fattura" adminfield="" multiple="false" type="db" orderby="" ordertype="">
					<description/>
					<virtualcross>
						<data label="No" value="0">						</data>
						<data label="Italia" value="1">						</data>
						<data label="Estero" value="2">						</data>
					</virtualcross>
					<default>0</default>
				</field>
				<field name="stato" visible="true" title="Stato movimento" adminfield="" multiple="false" type="db" orderby="" ordertype="">
					<description/>
					<cross table="ps_stato" ref="id" title="stato">					</cross>
					<default>7</default>
				</field>
				<field name="personaIniziale" visible="true" title="Pagante/Ricevente" adminfield="" multiple="false" type="db" orderby="" ordertype="">
					<description/>
					<cross table="ps_persone" ref="id" title="nome">					</cross>
					<default>12</default>
				</field>
				<field name="personaFinale" visible="true" title="Creditore/Debitore" adminfield="" multiple="false" type="db" orderby="" ordertype="">
					<description/>
					<cross table="ps_personefinali" ref="id" title="nome">					</cross>
					<default>15</default>
				</field>
				<field name="costo" visible="true" title="Costo" adminfield="" multiple="false" type="db" orderby="" ordertype="">
					<description/>
					<default/>
				</field>
				<field name="valuta" visible="true" title="Valuta" adminfield="" multiple="false" type="db" orderby="" ordertype="">
					<description/>
					<cross table="ps_valuta" ref="id" title="valuta">					</cross>
					<default>6</default>
				</field>
				<field name="data" visible="true" title="Data" adminfield="" multiple="false" type="db" orderby="true" ordertype="DESC">
					<description/>
					<default>now(\'y-m-d\')</default>
				</field>
				<field name="fatturata" visible="false" title="Fatturata" adminfield="" multiple="false" type="db" orderby="" ordertype="">
					<description/>
					<virtualcross>
						<data label="No" value="0">						</data>
						<data label="Si" value="1">						</data>
					</virtualcross>
					<default>0</default>
				</field>
			</fields>
			<plugins>
				<plugin name="Riepilogo Spese" value="RiepiloghiCasa.php" ref="RiepiloghiCasa.php">				</plugin>
			<plugin name="Fatturazione" ref="Fattura.php"/></plugins>
		<description/><description/></table>
		<table name="ps_tipomovimenti" title="Tipo movimenti" visible="true">
			<fields>
				<field name="id" visible="false" title="id" adminfield="false" multiple="false" type="db">
					<description>					</description>
					<default>					</default>
				</field>
				<field name="tipo" visible="true" title="Tipo" adminfield="false" multiple="false" type="db">
					<description>					</description>
					<default>					</default>
				</field>
			</fields>
		</table>
		<table name="ps_fatture" title="ps_fatture" visible="false">		</table>
		<table name="ps_persone" title="Persone" visible="true">
			<fields>
				<field name="id" visible="false" title="id" adminfield="false" multiple="false" type="db">
					<description>					</description>
					<default>					</default>
				</field>
				<field name="nome" visible="true" title="Nome" adminfield="false" multiple="false" type="db">
					<description>					</description>
					<default>					</default>
				</field>
				<field name="statoPersona" visible="false" title="statoPersona" adminfield="false" multiple="false" type="db">
					<description>					</description>
					<default>					</default>
				</field>
			</fields>
		</table>
		<table name="ps_personefinali" title="Persone finali" visible="true" dataperpage="20" orderfield="nome">
			<fields>
				<field name="id" visible="false" title="id" adminfield="false" multiple="false" type="db">
					<description>					</description>
					<default>					</default>
				</field>
				<field name="nome" visible="true" title="Nome" adminfield="true" multiple="false" type="db">
					<description>					</description>
					<default>					</default>
				</field>
				<field name="rapporto" visible="true" title="Rapporto" adminfield="true" multiple="false" type="db">
					<description>					</description>
					<cross table="ps_rapporti" ref="id" title="nome">					</cross>
					<default>--</default>
				</field>
				<field name="altraPersona" visible="true" title="Intestatari movimento" adminfield="true" multiple="true" type="db">
					<description>					</description>
					<p>					</p>
					<cross table="ps_persone" ref="id" title="nome">					</cross>
					<default>12***13</default>
				</field>
			</fields>
		</table>
		<table name="ps_rapporti" title="Rapporti" visible="true">
			<fields>
				<field name="id" visible="false" title="id" adminfield="false" multiple="false" type="db">
					<description>					</description>
					<default>					</default>
				</field>
				<field name="percentuale" visible="true" title="Percentuale (da 0 a 1)" adminfield="true" multiple="false" type="db">
					<description>					</description>
					<default>					</default>
				</field>
				<field name="personePercentuale" visible="true" title="Destinatari percentuale" adminfield="true" multiple="true" type="db">
					<description>					</description>
					<cross table="ps_persone" ref="id" title="nome">					</cross>
					<default>					</default>
				</field>
				<field name="fisso" visible="true" title="Fisso" adminfield="true" multiple="false" type="db">
					<description>					</description>
					<default>					</default>
				</field>
				<field name="personeFisso" visible="true" title="Destinatari fisso" adminfield="true" multiple="true" type="db">
					<description>					</description>
					<cross table="ps_persone" ref="id" title="nome">					</cross>
					<default>					</default>
				</field>
				<field name="stato" visible="true" title="Stato" adminfield="true" multiple="false" type="db">
					<description>					</description>
					<virtualcross>
						<data label="Non attivo" value="0">						</data>
						<data label="Attivo" value="1">						</data>
					</virtualcross>
					<default>					</default>
				</field>
				<field name="tipoRapporto" visible="true" title="Tipo rapporto" adminfield="false" multiple="false" type="db">
					<description>					</description>
					<virtualcross>
						<data label="Diretto al destinatario" value="1">						</data>
						<data label="Filtrato dal rapporto" value="2">						</data>
					</virtualcross>
					<default>					</default>
				</field>
				<field name="nome" title="nome" visible="true" adminfield="false" multiple="false" type="db">
					<description>					</description>
					<default>					</default>
				</field>
				<field name="project_id" title="project_id" visible="true" adminfield="false" multiple="false" type="db">
					<description>					</description>
					<default>					</default>
				</field>
			</fields>
		</table>
		<table name="ps_stato" title="Stato movimenti" visible="true">
			<fields>
				<field name="id" visible="false" title="id" adminfield="false" multiple="false" type="db">
					<description>					</description>
					<default>					</default>
				</field>
				<field name="stato" visible="true" title="Stato movimento" adminfield="false" multiple="false" type="db">
					<description>					</description>
					<default>					</default>
				</field>
				<field name="project_id" title="project_id" visible="true" adminfield="false" multiple="false" type="db">
					<description>					</description>
					<default>					</default>
				</field>
			</fields>
		</table>
		<table name="ps_valuta" title="Valuta" visible="true">
			<fields>
				<field name="id" visible="false" title="id" adminfield="false" multiple="false" type="db">
					<description>					</description>
					<default>					</default>
				</field>
				<field name="valuta" visible="true" title="Tipo valuta" adminfield="false" multiple="false" type="db">
					<description>					</description>
					<default>					</default>
				</field>
				<field name="project_id" title="project_id" visible="true" adminfield="false" multiple="false" type="db">
					<description>					</description>
					<default>					</default>
				</field>
			</fields>
		</table>
	</tables>
</config>
