<div class="danger-page">
    <div class="icon" icon="ban-circle"> </div>

    <p class="message">
        <strong>ATTENZIONE!</strong> Questo utente ha chiesto la disiscrizione, l'account è stato momentaneamente disattivato in attesa della definitiva conferma dell'utente.
        <br/><br/>
        <div class="text-center">
            <button class="btn btn-danger" icon="warning-sign" ng-click="doConfirmUnsubscription()">Conferma disiscrizione</button>
            <button class="btn btn-info" icon="wrench" ng-click="doDiscardUnsubscription()">Annulla richiesta</button>
        </div>
    </p>
</div>