<div class="first-login-page pbl">
    <div class="row">

        <div class="col-sm-12">
            <div class="jumbotron">
                <h1>Benvenuto!</h1>
                <p>
                    Ciao {{newUser.username}}, questa &egrave; la prima volta che ti colleghi a Rigorix. <br/>
                    Ti sei autenticato usando <a target="_blank" href="{{newUSer.social_url_trusted}}#" icon="{{newUser.social_provider}}" style="font-size: 25px">{{newUser.social_provider}}</a>
                </p>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col col-sm-10 col-sm-offset-1">
            <h4 class="mbl">Ti chiediamo di completare/confermare la form sottostante per attivare il tuo account.</h4>

            <form name="newUserForm" class="form-horizontal mbl" role="form">

                <div class="form-group">
                    <label class="col-sm-3 control-label" icon="asterisk">Username</label>
                    <div class="col-sm-9">
                        <input type="text" ng-pattern="/^[A-Za-z0-9_-]*$/" required ng-minlength="3" ng-maxlength="14" name="username" class="form-control" ng-model="newUser.db_object.username" value="{{newUser.db_object.username}}">
                        <span class="error-message" ng-show="newUserForm.username.$invalid && newUserForm.username.$dirty">Lo username &egrave; obbligatorio, con una lunghezza di minimo 3 e massimo 14 caratteri, composto solo da lettere, numeri _ e -.</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Social</label>
                    <div class="col-sm-9 pvs">
                        <a target="_blank" href="{{newUSer.social_url_trusted}}#" icon="{{newUser.social_provider}}" style="font-size: 25px">{{newUser.social_provider}}</a>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Nome</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="newUser.db_object.nome" value="{{newUser.db_object.nome}}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Cognome</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="newUser.db_object.cognome" value="{{newUser.db_object.cognome}}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" icon="asterisk">Email</label>
                    <div class="col-sm-9">
                        <input type="email" required class="form-control" ng-model="newUser.db_object.email_utente" value="{{newUser.db_object.email_utente}}">
                        <span class="error-message" ng-show="newUserForm.email.$invalid">La email è obbligatorie e dev'essere in un formato valido</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Sesso</label>
                    <div class="col-sm-9">
                        <select class="form-control" ng-model="newUser.db_object.sesso" name="indb_sesso">
                            <option value="M" selected="{{newUser.db_object.sesso == 'M'}}">Maschio</option>
                            <option value="F" selected="{{newUser.db_object.sesso == 'F'}}">Femmina</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" icon="asterisk">Data di nascita</label>
                    <div class="col-sm-9 enlarge-inside-table">
                        <datepicker ng-model="newUser.db_object.data_nascita" show-weeks="false" required ng-required="true"></datepicker>
                        <!--<input type="text" name="data_nascita" required ng-required="true" value="newUser.db_object.data_nascita" id="nome" ng-model="newUser.db_object.data_nascita" class="form-control" />-->
                        <span class="error-message" ng-show="newUserForm.data_nascita.$invalid">La data di nascita è obbligatoria, clicca il campo e selezionala dal calendario</span>
                    </div>
                </div>

                <div class="col-sm-offset-4">
                    <button class="btn btn-lg btn-success" icon="log-in" ng-click="doActivateUser()">ENTRA IN RIGORIX!</button>
                </div>
            </form>
        </div>
    </div>
</div>
