<div class="row-fluid">

    <!--<?php $core->render_user_alerts (); ?>-->

    <div class="col-sm-12 mbl">
        <img src="i/emotional-home.jpg" width="100%">
    </div>

</div>

<div class="row-fluid mtl">

    <div class="col-sm-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Il campione della settimana</h3>
            </div>
            <p class="panel-body" ng-show="!campione">Non è possibile stabilire il campione dell'ultima settimana.</p>
            <div ng-show="campione">
                <div class="best-user-box">
                    <div class="best-user-detail">
                        <h4>{{campione.userObject.username}}</h4>
                        <h4><span class="label label-warning">{{campione.punteggio}}</span> <small>(punti ultimi 7 giorni)</small></h4>
                    </div>
                    <div class="best-user-score">
                        <span>
                            <small>{{campione.userObject.punteggio_totale}} punti totali</small>
                            <small> &nbsp;{{campione.userObject.badges.length}} copp{{campione.userObject.badges.length > 1 ? 'e' : 'a'}}</small>
                            <small> &nbsp;{{campione.vittorie}} vittorie</small>
                        </span>
                    </div>
                    <div id="mascotteScreen">
                        <div id="mascottePreloader">
                            <img src="/i/maschera_maglia_1_f.png" width="100%" />
                            <img src="/i/maschera_maglia_2_f.png" width="100%" />
                            <img src="/i/maschera_maglia_3_f.png" width="100%" />
                            <img src="/i/maschera_maglia_4_f.png" width="100%" />
                        </div>
                        <div id="setup_maglietta" style="background-color: {{campione.userObject.colore_maglietta}}">
                            <img src="/i/maschera_maglia_{{campione.userObject.tipo_maglietta || 1}}_f.png" width="100%" />
                        </div>
                        <div id="setup_pantaloncini" style="background-color: {{campione.userObject.colore_pantaloncini}}">
                            <img src="/i/maschera_pantaloni_f.png" width="100%" />
                        </div>
                        <div id="setup_calzini" style="background-color: {{campione.userObject.colore_calzini}}">
                            <img src="/i/maschera_gambe_f.png" width="100%" />
                        </div>
                        <div id="setup_numero">{{campione.userObject.numero_maglietta}}</div>
                        <!--<div id="setup_numero_shadow">{{campione.userObject.numero_maglietta}}</div>-->
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel" ng-class="{'panel-danger': activeUsers.length == 0, 'panel-success': activeUsers.length > 0}">
            <div class="panel-heading">
                <h3 class="panel-title">Utenti attivi</h3>
            </div>
            <div class="panel-body" ng-show="activeUsers.length == 0">
                <p icon="warning-sign"> Nessun utente online in questo momento! </p>
            </div>

            <div class="list-group" ng-show="activeUsers.length > 0">
                <div class="list-group-item" ng-repeat="user in activeUsers">
                    <username id-utente="user.id_utente" with-picture="true"></username>
                </div>
            </div>
        </div>
    </div>

</div>