<div class="row-fluid">
<div class="col-sm-12">
<div class="panel panel-primary">
<div class="panel-heading">
    <h3>Regolamento</h3>
</div>
<div class="panel-body">
<p>
    Ogni volta che giochi una partita, stai attento al risultato, potresti ricevere dei punti extra o, per premiare la tua abilità, delle coppe.<br>
    I punti extra (vedi sotto il dettaglio) sono applicati in specifiche situazioni e sono ricorrenti per ogni partita.<br><br>
    Le Coppe sono dei riconoscimenti da vincere una sola volta, alzano il valore del giocatore e ti aiuteranno a essere temuto dai tuoi avversari.
</p>
<br>
<h3 class="title">COPPE</h3>
<ul class="lista-riconoscimenti">
    <li>
        <table cellpadding="4">
            <tbody><tr valign="middle">
                <td width="80"><img src="/i/rewards/b_first_game__small.png" alt="Chi ben comincia" width="75"></td>
                <td>
                    <h4 class="title">Chi ben comincia</h4>
                    <p>
                        Hai fatto la tua prima partita.<br>
                        Speriamo di vederti arrivare in alto										</p>
                </td>
            </tr>
            </tbody></table>
    </li>
    <li>
        <table cellpadding="4">
            <tbody><tr valign="middle">
                <td width="80"><img src="/i/rewards/b_match_5xscore_user__small.png" alt="Gladiatore" width="75"></td>
                <td>
                    <h4 class="title">Gladiatore</h4>
                    <p>
                        Hai sfidato un utente che ha 5 volte i tuoi punti. Sei un gladiatore!!										</p>
                </td>
            </tr>
            </tbody></table>
    </li>
    <li>
        <table cellpadding="4">
            <tbody><tr valign="middle">
                <td width="80"><img src="/i/rewards/b_50matches__small.png" alt="Allenato" width="75"></td>
                <td>
                    <h4 class="title">Allenato</h4>
                    <p>
                        Hai giocato più di 50 sfide. Principiante a chi?!?!?										</p>
                </td>
            </tr>
            </tbody></table>
    </li>
    <li>
        <table cellpadding="4">
            <tbody><tr valign="middle">
                <td width="80"><img src="/i/rewards/b_nofear__small.png" alt="Senza paura" width="75"></td>
                <td>
                    <h4 class="title">Senza paura</h4>
                    <p>
                        Hai sfidato un giocatore con più punti di te. Paura? Non la conosco!!										</p>
                </td>
            </tr>
            </tbody></table>
    </li>
    <li>
        <table cellpadding="4">
            <tbody><tr valign="middle">
                <td width="80"><img src="/i/rewards/b_match_25xscore_user__small.png" alt="Super Gladiatore" width="75"></td>
                <td>
                    <h4 class="title">Super Gladiatore</h4>
                    <p>
                        Hai sfidato un utente che ha 25 volte i tuoi punti. Sei un super gladiatore!!										</p>
                </td>
            </tr>
            </tbody></table>
    </li>
</ul>

<br>
<br>
<br>
<h3 class="title">PUNTI EXTRA</h3>
<ul class="lista-riconoscimenti">
    <li>
        <table cellpadding="4">
            <tbody><tr valign="top">
                <td>
                    <div class="punti ">
                        <big>3</big>
                        <h5>PUNTI</h5>
                    </div>
                </td>
                <td>
                    <h4 class="title">Sfida nuovo utente</h4>
                    <p>
                        Ogni volta che sfidi un nuovo utente ti vengono accreditati 3 punti. Non annoiarti sempre con gli stessi utenti, sfidane di nuovi!!										</p>
                </td>
            </tr>
            </tbody></table>
    </li>
    <li>
        <table cellpadding="4">
            <tbody><tr valign="top">
                <td>
                    <div class="punti ">
                        <big>3</big>
                        <h5>PUNTI</h5>
                    </div>
                </td>
                <td>
                    <h4 class="title">20 Sfide al giorno</h4>
                    <p>
                        Quando arrivi alle 20 sfide al giorno Rigorix ti premia con 3 punti extra. Più giochi, più ti premiamo!!										</p>
                </td>
            </tr>
            </tbody></table>
    </li>
    <li>
        <table cellpadding="4">
            <tbody><tr valign="top">
                <td>
                    <div class="punti ">
                        <big>5</big>
                        <h5>PUNTI</h5>
                    </div>
                </td>
                <td>
                    <h4 class="title">Prima partita del giorno</h4>
                    <p>
                        Ben svegliato! La prima partita del giorno conta, per questo ti regaliamo 5 punti.										</p>
                </td>
            </tr>
            </tbody></table>
    </li>
    <li>
        <table cellpadding="4">
            <tbody><tr valign="top">
                <td>
                    <div class="punti ">
                        <big>3</big>
                        <h5>PUNTI</h5>
                    </div>
                </td>
                <td>
                    <h4 class="title">Una partita all'ora per otto ore</h4>
                    <p>
                        Hai giocato almeno una partita all'ora per otto ore consecutive: ti premiamo con 3 punti per il tuo impegno!										</p>
                </td>
            </tr>
            </tbody></table>
    </li>
    <li>
        <table cellpadding="4">
            <tbody><tr valign="top">
                <td>
                    <div class="punti ">
                        <big>1</big>
                        <h5>PUNTI</h5>
                    </div>
                </td>
                <td>
                    <h4 class="title">Stessa regione sfidante</h4>
                    <p>
                        Sei conterraneo con il tuo sfidante? Regaliamo 1 punto di campanilismo!										</p>
                </td>
            </tr>
            </tbody></table>
    </li>
    <li>
        <table cellpadding="4">
            <tbody><tr valign="top">
                <td>
                    <div class="punti ">
                        <big>1</big>
                        <h5>PUNTI</h5>
                    </div>
                </td>
                <td>
                    <h4 class="title">Stesso anno di nascita</h4>
                    <p>
                        Hai la stessa etè del tuo sfidante, ti regaliamo un punto per la lotta pari!										</p>
                </td>
            </tr>
            </tbody></table>
    </li>
    <li>
        <table cellpadding="4">
            <tbody><tr valign="top">
                <td>
                    <div class="punti rosso">
                        <big>-5</big>
                        <h5>PUNTI</h5>
                    </div>
                </td>
                <td>
                    <h4 class="title"><strong>Noioso!</strong> 10 sfide allo stesso utente oggi</h4>
                    <p>
                        Vederti giocare 10 o più partite con lo stesso utente ci annoia :( Ti togliamo 5 punti!										</p>
                </td>
            </tr>
            </tbody></table>
    </li>
    <li>
        <table cellpadding="4">
            <tbody><tr valign="top">
                <td>
                    <div class="punti rosso">
                        <big>-15</big>
                        <h5>PUNTI</h5>
                    </div>
                </td>
                <td>
                    <h4 class="title"><strong>NOOooo!</strong> 20 sfide allo stesso utente oggi</h4>
                    <p>
                        Manchi completamente di originalità: 20 partite al giorno con lo stesso utente? ti togliamo 15 punti										</p>
                </td>
            </tr>
            </tbody></table>
    </li>
    <li>
        <table cellpadding="4">
            <tbody><tr valign="top">
                <td>
                    <div class="punti ">
                        <big>3</big>
                        <h5>PUNTI</h5>
                    </div>
                </td>
                <td>
                    <h4 class="title">Gladiatore</h4>
                    <p>
                        Hai sfidato un utente che ha 5 volte i tuoi punti. Sei un gladiatore!!										</p>
                </td>
            </tr>
            </tbody></table>
    </li>
</ul>
</div>
</div>
</div>
</div>