<div class="row-fluid" ng-controller="Pages.Riconoscimenti">
    <div class="col-sm-12">
        <div class="panel panel-success">
            <div class="panel-heading" icon="trophy">
                Riconoscimenti
            </div>
            <div class="panel-body">
            <p>
                Ogni volta che giochi una partita, stai attento al risultato, potresti ricevere dei punti extra o, per premiare la tua abilit&agrave;, delle coppe.<br>
                I punti extra (vedi sotto il dettaglio) sono applicati in specifiche situazioni e sono ricorrenti per ogni partita.<br><br>
                Le Coppe sono dei riconoscimenti da vincere una sola volta, alzano il valore del giocatore e ti aiuteranno a essere temuto dai tuoi avversari.
            </p>
            <h3 class="title">COPPE</h3>
            <ul class="lista-riconoscimenti mbll">
                <li ng-repeat="reward in riconoscimenti.rewards">
                    <div class="row mbm">
                        <div class="col col-sm-3">
                            <div class="center-block icon-{{reward.key_id}}__small"></div>
                        </div>
                        <div class="col col-sm-9">
                            <h4 class="title" ng-bind-html="getTrustedContent(reward.nome)"></h4>
                            <p ng-bind-html="getTrustedContent(reward.descrizione)"></p>
                        </div>
                    </div>
                </li>
            </ul>

            <h3 class="title">PUNTI EXTRA</h3>
            <ul class="lista-riconoscimenti">
                <li ng-repeat="punto in riconoscimenti.punti">
                    <div class="row mbm">
                        <div class="col col-sm-3">
                            <div class="punti text-center pull-center" ng-class="{'negative': punto.score < 0}">
                                <big>{{punto.score}}</big>
                                <h5>PUNTI</h5>
                            </div>
                        </div>
                        <div class="col col-sm-9">
                            <h4 class="title" ng-bind-html="getTrustedContent(punto.nome)"></h4>
                            <p ng-bind-html="getTrustedContent(punto.descrizione)"></p>
                        </div>
                    </div>
                </li>
            </ul>
            </div>
        </div>
    </div>
</div>