<div class="mal">
    <div class="row mbl">
        <div class="col col-sm-12">
            <h3 class="mtn">Nuovo messaggio</h3>
        </div>
    </div>

    <div class="row">
        <div class="col col-sm-12">
            <div class="form-group">
                <input name="user-receiver" autofocus ng-model="receiver" typeahead-template-url="/app/templates/partials/username-select.html" typeahead-on-select="onSelectUser(receiver)" typeahead="user as user.username for user in getUsers($viewValue) | filter:{username: $viewValue} | limitTo:12" placeholder="Destinatario" class="form-control" />
            </div>
            <div class="form-group">
                <input ng-model="newMessage.oggetto" placeholder="Oggetto" class="form-control mvl" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-12">
            <textarea ng-model="newMessage.testo" placeholder="Testo" redactor="{buttons: ['formatting', '|', 'bold', 'italic']}"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-12 ptl">
            <button class="btn btn-default pull-left" ng-click="cancel()" icon="arrow-left">Annulla</button>
            <button class="btn btn-warning pull-right" ng-click="sendNewMessage()" data-loading-text="Invio in corso..." icon="comment-o">Invia</button>
        </div>
    </div>
</div>
