<div class="badges-container" ng-show="badges.length > 0">
    <h3>HURRAAAA!!</h3>
    <h5>Hai appena vinto {{badges.length > 1 ? 'dei nuovi' : 'un nuovo'}} badge</h5>
    <button class="btn btn-info text-center" ng-click="setBadgesSeen()" icon="eye">Vedi risultato sfida</button>
    <carousel>
        <slide ng-repeat="badge in badges">
            <div class="icon-{{badge.reward.key_id}}__big"></div>
            <!--<img ng-src="/i/rewards/{{badge.reward.key_id}}__big.png">-->
        </slide>
    </carousel>
</div>

<div class="results-container" ng-show="badges.length == 0">
    <div class="row">
        <div class="col col-sm-12">
            <div class="result icon-{{resultLabel}}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-4 col-sm-offset-1 text-center">
            <username id-utente="sfida.id_sfidante" with-thumb="true"></username>
        </div>
        <div class="col col-sm-2 text-center">
            <div class="icon-vs"></div>
        </div>
        <div class="col col-sm-4 text-center">
            <username id-utente="sfida.id_sfidato" with-thumb="true"></username>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-6 text-center">
            <h2>{{sfida.risultato.split(',')[0]}}</h2>
        </div>
        <div class="col col-sm-6 text-center">
            <h2>{{sfida.risultato.split(',')[1]}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-12 text-center">
            <h4>Premi per questa partita</h4>
            <div ng-show="resultLabel != 'lose'">
                <p><span class="badge">{{resultLabel == 'draw' ? 1 : 3}} punti</span> Hai {{resultLabel == 'draw' ? 'pareggiato' : 'vinto'}} </p>
            </div>
            <div ng-repeat="reward in userRewards" ng-show="reward.reward.tipo == 'punto'">
                <p><span class="badge">{{reward.reward.score}} punti</span> {{reward.reward.nome}}</p>
            </div>
            <button class="btn btn-warning mam" ng-click="close()" icon="arrow-left">Chiudi</button>
            <button class="btn btn-info mam" ng-click="showSfida()" icon="eye">Vedi sfida</button>
        </div>
    </div>
</div>
