<div class="modal-win">
    <div class="modal-header">
        <h3>Grandeee!!!</h3>
    </div>
    <div class="modal-body">
        <p>
            Sei appenta entrato a far parte della famiglia di Rigorix!
            <br/><br/>
            Visita la tua area personale per vedere le sfide lanciate o concluse, accedere ai tuoi messaggi o decidere con che divisa e numero di maglia giocare.
            <br/><br/>
            Clicca il nome di un utente per sfidarlo o sceglilo dalla lista cliccando "sfida ora" nel tuo box utente.
            <br/><br/>
            <h3 class="text-info">Buon divertimento</h3>
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()">Chiudi</button>
    </div>
</div>
