<div class="modal-win">
    <div class="modal-header">
        <h3>Cancellazione utente</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger mbn">
            <h3 class="text-error">ATTENZIONE:</h3>
            <p class="text-error">Sei sicuro di voler cancellare il tuo utente?</p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger pull-right" ng-click="doDeleteUser()" icon="trash">CANCELLA</button>
        <button class="btn btn-success pull-left" ng-click="cancel()">Annulla</button>
    </div>
</div>
