<object id="flash_object" type="application/x-shockwave-flash" data="/swf/rigorixGame_v4.swf" width="100%" height="100%">
    <param name="flashvars" value="gameXML=/api/sfida/{{id_sfida}}/{{id_utente}}/xml" />
    <param name="movie" value="/swf/rigorixGame_v4.swf" />
    <param name="quality" value="high" />
    <param name="wmode" value="transparent" />
    <param name="scale" value="showAll" />
</object>
<div class="row">
    <div class="col col-sm-12 phl pvs">
        <button class="btn btn-danger pull-right" ng-click="close()">Chiudi</button>
    </div>
</div>