<div class="realtime-page pbl">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron jumbotron-warning">
                <h1>Gioca in tempo reale!</h1>
                <p ng-show="!auth_user_exist">
                    Stiamo partendo con una versione di prova di Rigorix in tempo reale!
                    <br/>
                    Provala subito!!
                </p>
                <div class="text-center">
                    <a href="#/realtime/room" class="btn btn-primary btn-lg" icon="group" >ENTRA!</a>
                </div>
            </div>
        </div>
    </div>
</div>
