<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Il campione della settimana</h3>
    </div>
    <p class="panel-body" ng-show="!campione">Non &egrave; possibile stabilire il campione dell'ultima settimana.</p>
    <div ng-show="campione">
        <div class="best-user-box">
            <div class="best-user-detail">
                <h4>{{campione.userObject.username}}</h4>
                <h4><span class="label label-warning">{{campione.punteggio}}</span> <small>(punti ultimi 7 giorni)</small></h4>
            </div>
            <div class="best-user-score">
                        <span>
                            <small>{{campione.userObject.punteggio_totale}} punti totali</small>
                            <small> &nbsp;{{campione.userObject.badges.length}} copp{{campione.userObject.badges.length > 1 ? 'e' : 'a'}}</small>
                            <small> &nbsp;{{campione.vittorie}} vittorie</small>
                        </span>
            </div>
            <div id="mascotteScreen">
                <div id="setup_maglietta" style="background-color: {{campione.userObject.colore_maglietta}}">
                    <img src="/app/assets/images/maschera_maglia_{{campione.userObject.tipo_maglietta || 1}}_f.png" width="100%" />
                </div>
                <div id="setup_pantaloncini" style="background-color: {{campione.userObject.colore_pantaloncini}}">
                    <img src="/app/assets/images/maschera_pantaloni_f.png" width="100%" />
                </div>
                <div id="setup_calzini" style="background-color: {{campione.userObject.colore_calzini}}">
                    <img src="/app/assets/images/maschera_gambe_f.png" width="100%" />
                </div>
                <div id="setup_numero">{{campione.userObject.numero_maglietta}}</div>
            </div>
        </div>

    </div>
</div>