<div id="footer" class="row pvm">
    <div class="col col-sm-12 clearfix">
        <p class="footer-link text-center">
            <a class="mrm" href="#riconoscimenti" icon="trophy">Riconoscimenti</a>
            <a class="mrm" target="_blank" href="http://partners.sprintrade.com/index.html?super_affiliate_code=CD4337" icon="heart">Affiliazione</a>
            <a class="mrm" href="#regolamento" title="Regolamento" icon="book">Regolamento</a>
            <a class="mrm" href="#partners" title="Siti partner" icon="smile-o">Siti partners</a>
        </p>
        <h5 class="text-center"><span class="rigorix-label">RigoriX</span> <small>&egrave; propriet&agrave; <a href="http://www.internetting.it">Internetting</a> (P. IVA 03465230278) e <a href="http://www.consulenzasportiva.it">ConsulenzaSportiva</a></small></h5>
    </div>
</div>