<div class="container">
    <div class="row" id="header" ng-controller="Header">
        <div class="col col-xs-5">
            <h1 ng-click="doClickLogo()">RIGORIX</h1>
        </div>

        <div class="col col-xs-7 visible-xs" ng-click="toggleVisibility()">
            <div class="user-container" ng-class="{'visible': showUserPopout}">
                <div ng-show="currentUser" class="clearfix">
                    <div class="profile-picture pull-right ">
                        <img src="{{currentUser.picture}}" />
                    </div>
                </div>
                <div ng-show="!currentUser">
                    <button class="btn btn-success" icon="sign-in">Entra!</button>
                </div>
                <div class="user-dropdown" ng-include="'/app/templates/partials/user-box.html'"></div>
            </div>
        </div>
    </div>
</div>