<div class="container">
    <div class="row" id="header" ng-controller="Header">
        <div class="col col-xs-5">
            <h1 ng-click="doClickLogo()">RIGORIX</h1>
        </div>

        <div class="col col-xs-7 hidden-md hidden-sm hidden-lg" ng-click="toggleVisibility()">
            <div class="user-container" ng-class="{'visible': showUserPopout}">
                <div ng-show="currentUser">
                    <!--<span>{{currentUser.username}}</span>-->
                    <img src="{{currentUser.picture}}" width="40" height="40" class="media-object img-circle" />
                </div>
                <div ng-show="!currentUser">
                    <button class="btn btn-success" icon="sign-in">Entra!</button>
                </div>
                <div class="user-dropdown" ng-include="'/app/templates/partials/user-box.html'"></div>
            </div>
        </div>
    </div>
</div>