<div class="user-panel" ng-controller="UserPanel">

    <div ng-show="currentUser">
        <h3>{{currentUser.username}}</h3>
        <div class="summary">
            <div class="user-picture">
                <img src="{{currentUser.picture}}" />
            </div>
            <span class="punteggio">{{currentUser.punteggio_totale}}</span>
            <a class="lancia-sfida" ng-click="doLanciaNewSfida()" tooltip-html-unsafe="Clicca per lanciare una sfida" tooltip-placement="left"></a>
        </div>
        <div class="user-notifications">
            <div class="notification-item" ng-show="currentUser.messages.length > 0">
                <a href="#area-personale/messaggi" title="Hai dei messaggi da leggere" icon="envelope">Hai <strong class="count-unread-messages">{{currentUser.messages.length}}</strong> nuovi messaggi</a>
            </div>

            <div class="notification-item" ng-show="currentUser.has_new_badges > 0">
                <a href="#/area-personale/utente" icon="trophy">Hai nuovi badges!!</a>
            </div>

            <div class="notification-item" ng-show="currentUser.sfide_da_giocare.length > 0">
                <a href="#/area-personale/sfide/sfide_da_giocare" class="text-success" icon="globe">Hai <strong>{{currentUser.sfide_da_giocare.length}} </strong> nuove sfide</a>
            </div>
            <div class="notification-item" ng-show="realtimeEnabled">
                <button class="btn btn-warning center-block" icon="bullhorn" ng-click="startRealtime()">Gioca realtime!!! <sup class="color-red">beta</sup></button>
            </div>
        </div>
        <div class="user-actions">
            <a href="#area-personale" class="btn btn-sm btn-info pull-left" icon="user">Area personale</a>
            <a ng-click="doUserLogout()" class="btn btn-sm btn-danger pull-right" icon="sign-out">Esci</a>
        </div>
    </div>

    <div ng-show="!currentUser">
        <p align="center" class="mvm">Accedi a Rigorix tramite questi social network:</p>
        <div class="row-fluid">
            <div class="col-sm-6 text-center">
                <a href="#" class="mbm btn btn-big btn-facebook" ng-click="doAuth($event, 'facebook')" icon="facebook">Facebook</a>
            </div>
            <div class="col-sm-6 text-center">
                <a href="#" class="mbm btn btn-big btn-google" ng-click="doAuth($event, 'google')" icon="google">Google</a>
            </div>
            <div class="col-sm-6 text-center">
                <a href="#" class="mbm btn btn-big btn-instagram"  ng-click="doAuth($event, 'instagram')" icon="instagram">Instagram</a>
            </div>
        </div>
    </div>

</div>