/// Modals
.modal-read-message {
  .modal-dialog {
    width: 500px;
  }
}
.modal-write-message {
  .modal-dialog {
    width: 500px;
  }
}
.modal-delete-user {
  .modal-dialog {
    width: 320px;
  }
}

.table-messages {
  .unread {

  }

  .success {
    td {
      font-weight: 600;
    }
  }
}

.ta-editor {
  height: auto;
}

.panel-heading {
  .btn {
    margin: -4px;
    padding: 3px 10px;
  }
}

#mascotteScreen {
  width: 227px;
  margin: 0 auto;
}

.btn-file-container {
  position: relative;

  input {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 0;
    opacity: 0;
    height: 30px;
  }
}

.navbar {

  .navbar-toggle {
    padding: 8px 10px 5px;
    .fa {
      font-size: 20px;
      margin: 0 !important;
    }
  }
}
