/// External
@import "/app/assets/bower_components/bootstrap/less/bootstrap.less";
@import "/app/assets/bower_components/angular-bootstrap-colorpicker/less/colorpicker.less";

/// Setup
@import "/app/assets/less/config.less";
@import "/app/assets/less/helpers.less";
@import "/app/assets/less/fonts.less";
@import "/app/assets/less/directives.less";
@import "/app/assets/less/mixin.less";
@import "/app/assets/less/form.less";
@import "/app/assets/less/animations.less";

/// Partials
@import "/app/assets/less/header.less";
@import "/app/assets/less/footer.less";

/// Pages
@import "/app/assets/less/gameplay.less";
@import "/app/assets/less/areapersonale.less";
@import "/app/assets/less/page.home.less";
@import "/app/assets/less/page.first-login.less";
@import "/app/assets/less/page.access-denied.less";

body {
  width: 100%;
  height: 100%;

  > .container {
//    width: @site-width;
    position: relative;
    height: 100%;

    #page {
      margin: @header-height auto 0 auto;
      position: relative;
    }
  }
}

.rigorix-main-view {
  .navbar {
    a {
//      font-family: 'Lemon';
    }
  }
}

.enlarge-inside-table {
  table {
    width: 100%;

    button {
      border: 0;
    }
  }
}

#body {
  background: @color-white;
}
#footer {
  background: @color-white;

  h5 {
    font-family: 'groboldmedium';
  }
}


.row-fluid {
  .clearfix();
}

.game-loader {
  padding: 40px;
  text-align: center;

  span {
    background: url(/app/assets/images/pacman-loader.gif) no-repeat left center;
    padding: 6px 0 6px 30px;
  }
}

.loading-row {
  display: none;
}
.isLoading {
  .loading-row {
    display: block;
  }
}

.rigorix-loading {
  .transition(opacity, 1s);
  display: none;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: @zindex-loading;
  margin: 0;
  padding: 0;

  .progress {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    margin: 0 0 0 -15%;
  }

  &.show {
    display: block;
    opacity: 1;
  }

  span {
    position: absolute;
    z-index: @zindex-loading + 1;
    color: @color-white;
    font-size: 25px;
    top: 50%;
    left: 50%;
  }
}


.logger {

  * {
    font-family: 11px "courier new" #333;
  }
  h4 {
    border-top: 2px solid #333;
    padding: 10px 0;
    margin-top: 10px;
  }
}