// Core variables and mixins
@import "/app/assets/bower_components/bootstrap/less/bootstrap.less";

@import "/app/assets/less/config.less";
@import "/app/assets/less/fonts.less";
@import "/app/assets/less/directives.less";
@import "/app/assets/less/mixin.less";

@import "/app/assets/less/header.less";

@import "/app/assets/less/gameplay.less";
@import "/app/assets/less/areapersonale.less";

.enlarge-inside-table {
  table {
    width: 100%;
  }
}


.row-fluid {
  .clearfix();
}
.rigorix-main-view {

  padding: 15px 0;
  .clearfix();

}


.game-loader {
  padding: 40px;
  text-align: center;

  span {
    background: url(/app/assets/images/pacman-loader.gif) no-repeat left center;
    padding: 6px 0 6px 30px;
  }
}

.loading-row {
  display: none;
}
.isLoading {
  .loading-row {
    display: block;
  }
}

.rigorix-loading {
  .transition(opacity, 1s);
  display: none;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: @zindex-loading;
  margin: 0;
  padding: 0;

  .progress {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    margin: 0 0 0 -15%;
  }

  &.show {
    display: block;
    opacity: 1;
  }

  span {
    position: absolute;
    z-index: @zindex-loading + 1;
    color: @color-white;
    font-size: 25px;
    top: 50%;
    left: 50%;
  }
}


