
/// Colors
@color-white:             #fff;
@color-black:             #333;
@color-darkbkack:         #000;
@color-rigorix-blue:      #0077a6;
@color-base-blue:         #5bc0de;
@color-red:               #d9534f;
@color-green:             #c4e509;
@color-yellow:            #faf271;
@color-gray:              #999;
@color-username:          #444;

@color-bg-userpopover:    #f3f3f3;

@color-instagram:         @color-base-blue;
@color-facebook:          @color-rigorix-blue;
@color-google:            #dd4b39;

@color-rigorix-green:     #86BE28;
@color-rigorix-darkgreen: darken(@color-rigorix-green, 15%);


/// Z-index
@zindex-loading:          5000;
@zindex-notification:     4000;
@zindex-new-badges:       2000;
@zindex-header:           1010;


/// Layout
@site-width:              920px;
@base-margin:             15px;
@profile-picture-width:   30px;
@profile-picture-height:  @profile-picture-width;


/// Header
@header-height:           70px;


/// Notifications
@notification-width:      80%;
@notification-bg-info:    @color-rigorix-blue;

.fa-google:before {
  content: "\f0d5";
}