@color-white:             #fff;
@color-rigorix-blue:      #0077a6;
@color-base-blue:         #5bc0de;
@color-red:               #d9534f;
@color-green:             #c4e509;
@color-yellow:            #faf271;
@color-gray:              #999;

@color-bg-userpopover:    #f3f3f3;


/// Z-index
@zindex-loading:          5000;
@zindex-new-badges:       2000;
@zindex-header:           1010;


/// Layout
@site-width:              920px;
@base-margin:             15px;


/// Header
@header-height:           70px;