/// Game Play Modal
.modal-play-sfida {
  .modal-dialog {
    width: 310px;
  }
}
.modal-view-sfida {
  .modal-dialog {
    width: 634px;
  }
}
.modal-show-end-match {
  .modal-dialog {
    width: 447px;

    .result-row {
      background: url(../images/icon_vs.png) no-repeat center center;
    }

    &.show-new-badges {
      width: 325px;
      border-radius: 300px;

      .modal-content {
        background: transparent;
        border: 0;
        border-radius: 300px;
        box-shadow: none;

        h3 {
          font-family: Grobold;
          color: #fff;
          text-align: center;
          font-size: 42px;
          border-bottom: 7px solid;
          margin-bottom: -9px;
        }
        h5 {
          font-size: 16px;
          text-transform: uppercase;
          font-weight: bold;
          border-bottom: 3px solid #000;
          padding: 6px 0;
          text-align: center;
          background: rgba(255, 255, 255, .2);
        }
        .btn {
          margin: 0 auto;
          display: block;
        }

        .item {
          margin: 20px 0 56px;
        }

        .carousel-caption {

        }
        .carousel-control {
          background: none;

          span {
            font-size: 80px;
            margin-top: -75px;
          }
        }
      }
    }
  }
}


#GamePlay {

  .game-set-box {
    .container-slides {

      .carousel-indicators {
        top: -25px;
        bottom: auto;
        left: auto;
        right: 0;
        width: auto;

        li {
          border-color: @color-black;

          &.active {
            background: @color-black;
          }

          &.ok {
            background-color: @color-green;
          }
        }
      }
      .carousel-control {
        display: none;
      }
    }

  }

  .gameplay-tile {
    @game-tile-size: 10%;
    @game-tile-portiere-center-w: 10%;
    @game-tile-portiere-center-h: 41%;
    @game-tile-portiere-side-w: 18%;
    @game-tile-portiere-side-h: 33%;

    background: url(/app/assets/images/lanciaSfide_campo.gif) no-repeat center center;
    .background-cover();
    text-align: center;
    position: relative;
    width: 100%;
    padding-top: 41%;
    margin-bottom: 10px;

    img {
      width: 100%;
    }

    h3 {
      text-transform: uppercase;
      color: @color-rigorix-blue;
      font-size: 13.4px;
    }

    .label {
      position: absolute;
      bottom: 4px;
      left: 50%;
      margin-left: -20px;
      font-size: 12px;
      text-transform: uppercase;
    }

    .game-tile {
      opacity: .7;
      width: @game-tile-size;
      padding-bottom: @game-tile-size;
      background: url(/app/assets/images/lanciaSfide_pallone.png) no-repeat center center;
      position: absolute;
      display: block;
      .background-cover();
      .transition(opacity .3s);

      img {
        display: none;
      }

      &:hover,
      &.active {
        opacity: 1;
      }

      &.palloneSx_game {
        top: 40%;
        left: 20%;
      }
      &.palloneCenter_game {
        top: 20%;
        left: 50%;
        margin-left: -@game-tile-size/2;
      }
      &.palloneDx_game {
        top: 40%;
        right: 20%;
      }
      &.portiereSx_game {
        top: 20%;
        left: 17%;
        width: @game-tile-portiere-side-w;
        height: @game-tile-portiere-side-h;
        background-image: url(/app/assets/images/lanciaSfide_portiereSx.png);

        &.active {
          background-image: url(/app/assets/images/lanciaSfide_portiereSx_on.png);
        }
      }
      &.portiereCenter_game {
        top: 17%;
        left: 50%;
        width: @game-tile-portiere-center-w;
        height: @game-tile-portiere-center-h;
        margin-left: -@game-tile-portiere-center-w/2;
        background-image: url(/app/assets/images/lanciaSfide_portiere.png);

        &.active {
          background-image: url(/app/assets/images/lanciaSfide_portiere_on.png);
        }
      }
      &.portiereDx_game {
        top: 20%;
        right: 19%;
        width: @game-tile-portiere-side-w;
        height: @game-tile-portiere-side-h;
        background-image: url(/app/assets/images/lanciaSfide_portiereDx.png);

        &.active {
          background-image: url(/app/assets/images/lanciaSfide_portiereDx_on.png);
        }
      }
    }

  }

}

