#header {
  background-color: rgba(255, 255, 255, .9);
  padding: @base-margin;
  height: @header-height - 10;
  position: fixed;
  top: 0;
  z-index: @zindex-header;
  box-shadow: 0 5px 5px @color-white;

  .full-responsive-width();

  h1 {
    margin: 0;
    display: inline-block;
    font-family: 'groboldmedium';
    color: @color-base-blue;
    cursor: pointer;
  }

  .user-container {

    position: relative;

    .media-object {
      display: inline-block;
      margin-left: @base-margin;
    }

    .user-popout {
      position: absolute;
      top: 50px;
      right: 20px;
      background: #f3f3f3;
    }
  }

}