#header {
  background: @color-white;
  padding: @base-margin;

  h1 {
    margin: 0;
    display: inline-block;
    font-family: 'groboldmedium';
    color: @color-base-blue;
    cursor: pointer;
  }

  .user-container {
    position: relative;

    .media-object {
      display: inline-block;
      margin-left: @base-margin;
    }

    .user-popout {
      position: absolute;
      top: 50px;
      right: 20px;
      background: #f3f3f3;
    }
  }

}