.lista-sfide-container {
  overflow-x: none;

  .result-screen {
    background: lighten(@color-black, 15);
    border-bottom: 3px solid lighten(@color-black, 40);
    padding: 2px;
    white-space: nowrap;
    max-width: 70px;
    margin: 0 auto;
    .clearfix();

    .team-screen {
      background: @color-black;
      float: left;
      width: 48%;
      text-align: center;
      color: lawngreen;
      font-weight: 600;
      font-size: 16px;
      font-family: courier, monospace;
      line-height: 18px;

      &.away-team {
        float: right;
      }
    }
  }

  .won {
    background-color: @color-green;
  }

  .draw {
    background: @color-yellow;
  }

  .lose {
    background-color: @color-red;
  }
}

