.best-user-box {
  width: 289px;
  position: relative;
  margin: 0 auto;

  .best-user-detail {
    background: rgba(100, 140, 140, .7);
    position: absolute;
    top: 0;
    left: 0;
    width: 289px;
    text-align: center;
    z-index: 1000;

    h4 {
      display: block;
      padding: 8px 15px;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      text-shadow: 1px 1px 2px #000;

      .label {
        font-size: 20px;
        padding: 4px 7px;
      }

      small {
        color: #fff;
        font-size: 11px;
      }
    }
  }

  .best-user-score {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    z-index: 1001;

    span {
      display: block;
      background: rgba(100, 140, 140, .7);
      padding: 8px 15px;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      text-shadow: 1px 1px 2px #000;
      border-top-left-radius: 10px;

      small {
        color: #ccc;
      }
    }
  }

  #setup_numero {
    top: 150px;
    left: 125px;
  }

  #setup_numero_shadow {
    top: 151px;
    left: 126px;
  }

  #mascotteScreen {
    width: auto;
    margin: 0;
  }

}