<div class="panel panel-primary user-box">

    <div class="panel-heading">
        <h3 class="panel-title">Box Utente</h3>
    </div>

    <div class="list-group">

        <div ng-show="fakeUser" class="alert alert-danger">
            <p icon="danger">Utente loggato FAKE!</p>
        </div>

        <div id="boxUtente" ng-show="currentUser">
            <div class="list-group-item">
                <div class="media">
                    <a class="pull-left user-picture" href="#" name="add-profile-picture">
                        <img src="{{currentUser.picture}}" width="30" height="30" class="media-object img-circle" id="profile_picture" />
                    </a>
                    <div class="media-body">
                        <p>
                            Ciao <strong data-toggle="popover" data-content="And here\'s some amazing content. It\'s very engaging. right?">{{currentUser.username}}</strong>
                            <span class="badge" id="punteggioUtente">{{currentUser.punteggio_totale}}</span>

                            <div ng-show="currentUser.messages.length > 0" >
                                <a href="#area-personale/messaggi" class="messages-icon" title="Hai dei messaggi da leggere"><strong class="count-unread-messages">{{currentUser.messages.length}}</strong> <img src="i/ico_messaggi.gif" align="absmiddle" /></a>
                            </div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="list-group-item" ng-show="currentUser.sfide_da_giocare.length > 0">
                <p class="content"><img src="i/pallone_small.gif" alt="Pallone" /> &nbsp; Hai <strong>{{currentUser.sfide_da_giocare.length}} </strong> sfide &nbsp;<a href="#/area-personale/sfide/sfide_da_giocare" class="btn btn-success btn-sm" icon="globe">Gioca</a></p>
            </div>
            <div class="list-group-item center-block">
                <a href="#area-personale" class="btn btn-sm btn-info" icon="user">Area personale</a>
                <a ng-click="doUserLogout()" class="btn btn-sm btn-danger" icon="log-out">Esci</a>
            </div>

        </div>



        <div id="boxUtente" ng-show="!currentUser">

            <!-- SOCIAL LOGIN NEW -->
            <div class="ui-box-content-html" id="login_box">
                <p align="center">Accedi a Rigorix tramite questi social network:<br /><br /></p>
                <div class="row-fluid">
                    <div class="col-sm-6 text-center">
                        <a href="#" ng-click="doAuth('facebook')"><img src="/i/login_facebook.png" /></a>
                    </div>
                    <div class="col-sm-6 text-center">
                        <a href="doAuth('twitter')" class="btn-twitter"><img src="/i/login_twitter.png" /></a>
                    </div>
                </div>
                <div class="row-fluid mvm">
                    <div class="col-sm-6 text-center">
                        <a href="#" class="btn-google" ng-click="doAuth('google')"><img src="/i/login_google.png" /></a>
                    </div>
                    <div class="col-sm-6 text-center">
                        <a href="#" class="btn-foursquare" ng-click="doAuth('fourquare')"><img src="/i/login_foursquare.png" /></a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>